{% extends 'admin.layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				Date
			</th>
			<th>
				Raison
			</th>
			<th>
				Commentaire
			</th>
			<th>
				Détail du commentaire
			</th>
			<th>
				Actions
			</th>
		</tr>
		{% for article in articles %}
		<tr>
			<td>
				{{ article.createDate }}<br>
				{{ article.updateDate }}
			</td>
			<td>
				<a target="_blank" href="{{ path('article', {'slug': article.slug}) }}">{{ article.title }}</a>
			</td>
			<td>
				{{ article.author.username }}
			</td>
			<td>
				{{ article.categorie.name }}
			</td>
			<td>
				<a href="{{ path('manager_article_edit', { 'id': article.id }) }}">
					<i class="fa fa-pencil" aria-hidden="true"></i>
				</a>
				<button class="btn btn-danger" data-toggle="modal" data-target="#articleDeleteConfirm{{ article.id }}">
					<i class="fa fa-times-circle-o" aria-hidden="true"></i>
				</button>
				<div class="modal fade" id="articleDeleteConfirm{{ article.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Confirmation requise</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Attention ! La suppression de cet article est irrévocable. Vous pouvez simplement le désactiver si vous le souhaitez...</p>
                                        <p>Voulez-vous vraiment supprimer cet article ? </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('manager_article_delete', { 'id': article.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                 </div><!-- /.modal -->
			
			</td>
		
		</tr>
		{% endfor %}
	</thead>

</table>



{% endblock %}