{% extends 'admin.layout.html.twig' %}
{% block content %}
<h3>Bienvenu dans votre manager !</h3>

<div class="row">
	<div class="col-lg-3">
		<div class="panel panel-primary">
         	<div class="panel-heading">
            	<div class="row">
            		<div class="col-xs-3">
            			<i class="fa fa-pencil-square-o fa-5x"></i>
            		</div>
                	<div class="col-xs-9 text-right">
                    	<div class="big-number">
                    		{{ nbArticles }}
                    	</div>
                		<div>
                			Articles
                		</div>
                	</div>
            	</div>
        	</div>
    	<a href="#">
        	<div class="panel-footer">
            	<span class="pull-left">View Details</span>
            	<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            	<div class="clearfix"></div>
        	</div>
    	</a>
		</div>
	
	</div>
	<div class="col-lg-3">
		<div class="panel panel-green">
         	<div class="panel-heading">
            	<div class="row">
            		<div class="col-xs-3">
            			<i class="fa fa-folder-open fa-5x"></i>
            		</div>
                	<div class="col-xs-9 text-right">
                    	<div class="big-number">
                    		{{ nbCategories }}
                    	</div>
                		<div>
                			Catégories
                		</div>
                	</div>
            	</div>
        	</div>
    	<a href="{{ path ('manager_category')}}">
        	<div class="panel-footer">
            	<span class="pull-left">Gérer...</span>
            	<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            	<div class="clearfix"></div>
        	</div>
    	</a>
		</div>
	
	</div>
	<div class="col-lg-3">
		<div class="panel panel-orange">
         	<div class="panel-heading">
            	<div class="row">
            		<div class="col-xs-3">
            			<i class="fa fa-comments fa-5x"></i>
            		</div>
                	<div class="col-xs-9 text-right">
                    	<div class="big-number">
                    		{{ nbComments }}
                    	</div>
                		<div>
                			Commentaires
                		</div>
                	</div>
            	</div>
        	</div>
    	<a href="#">
        	<div class="panel-footer">
            	<span class="pull-left">View Details</span>
            	<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            	<div class="clearfix"></div>
        	</div>
    	</a>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel panel-red">
         	<div class="panel-heading">
            	<div class="row">
            		<div class="col-xs-3">
            			<i class="fa fa-exclamation-triangle fa-5x"></i>
            		</div>
                	<div class="col-xs-9 text-right">
                    	<div class="big-number">
                    		{{ nbReportings }}
                    	</div>
                		<div>
                			Signalement
                		</div>
                	</div>
            	</div>
        	</div>
    	<a href="{{ path ('manager_reporting')}}">
        	<div class="panel-footer">
            	<span class="pull-left">Gérer</span>
            	<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            	<div class="clearfix"></div>
        	</div>
    	</a>
		</div>
	
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
    			<div id="reportingAdmin" class="panel-heading">
    				<h3><i class="fa fa-exclamation-triangle"></i> Signalements</h3>
    				<small><a href="{{ path ('manager_reporting')}}">Voir tous...</a></small>
    			</div>
    			<div class="panel-body panel-admin">
    				<div class="table-responsive">
    				{% if reportings %}
        					{% for reporting in reportings %}
        				<table class="table">
        					<tr>
        						<th>Date</th>
        						<th>ID du commentaire</th>
        						<th>Raison</th>
        					</tr>
        					
        					<tr>
        						<td>
                                    {{ reporting.date|date("d/m/Y") }} à {{ reporting.date|date("H:i") }}
        						</td>
        						<td>
        							{{ reporting.commentConcerned.id }}
        						</td>
        						<td>
        							{{ reporting.reason }}
        						</td>
        					</tr>
        					
        					{% endfor %}
        					
        				</table>
        				{% else %}
        					All clear ;)
        			    {% endif %}
    				</div>
    			</div>
    		</div>
	</div>
	<div class="col-lg-6">
    		<div class="panel panel-default">
    			<div id="commentsAdmin" class="panel-heading">
    				<h3><i class="fa fa-comments"></i> Derniers commentaires</h3>
    				<small>Voir tous...</small>
    			</div>
    			<div class="panel-body panel-admin">
    				<div class="table-responsive">
        				<table class="table">
        					<tr>
        						<th>Date</th>
        						<th>Article</th>
        						<th>Commentaire</th>
        					</tr>
        					{% for comment in comments %}
        					<tr>
        						<td>
                                    {{ comment.date|date("d/m/Y") }} à {{ comment.date|date("H:i") }}
        						</td>
        						<td>
        							{{ comment.article.title }}
        						</td>
        						<td>
        							{{ comment.content }}
        						</td>
        						
        					</tr>
        					{% endfor %}
        					
        				</table>
    				</div>
    			</div>
    		</div>
	</div>
</div>
                

{% endblock %}