{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

	<div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
        	<article class="col-xs-12">
        	<h1>{{ article.title }}</h1>
        	<hr class="title">
        	{% for flashMessage in app.session.flashbag.get('successReport') %}
            <div class="alert alert-info alert-dismissable">
            	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flashMessage }}
            </div>
            {% endfor %}
        	<div class="img-article" style="background-image: url({{asset(article.img) }})">
        	</div>
        	
        	{{ article.content }}
        	<p><small>
        	Publié le {{ article.createDate|date("d/m/Y") }} à {{ article.createDate|date("H:i") }} par {{ article.author.firstName }} {{ article.author.lastName }}
        	{% if article.createDate != article.updateDate %}
    			(Mis à jour le {{ article.updateDate|date("d/m/Y") }} à {{ article.updateDate|date("H:i") }})
            {% endif %}
        	</small></p>
        	</article>
        	<div class="col-xs-12">
			<h3>Commentaires</h3>
            {% for comment in comments %}
                <div class="panel panel-default">
                	<div class="panel-heading">
                	<small>{{ comment.date|date("d/m/Y") }} à {{ comment.date|date("H:i") }}</small>
                	</div>
      				<div class="panel-body">
        				<p>{{ comment.content }}</p>
      				</div>
      				<div class="panel-footer align-right">
          				<button class="btn btn-danger" data-toggle="modal" data-target="#reportModal" data-comment-id="{{ comment.id }}" data-comment-content="{{ comment.content }}">Signaler</button>
          				<a class="btn btn-primary" role="button" data-toggle="collapse" href="#{{ comment.id }}" aria-expanded="true" aria-controls="collapseExample">
          						Répondre
        				</a>
        				<div class="collapse" id="{{ comment.id }}">
          				<div class="well">
                                ...
                        </div>
                        </div>
      					
      				</div>
    			</div>
        	    {% if comment.children is defined %}
        		    {% for commentLevel2 in comment.children %}
        		    	<div class="panel panel-default comments-level2">
        		    		<div class="panel-heading">
                				<small>{{ commentLevel2.date|date("d/m/Y") }} à {{ commentLevel2.date|date("H:i") }}</small>
                			</div>
              				<div class="panel-body">
                				<p>{{ commentLevel2.content }}</p>
              				</div>
  								<div class="panel-footer align-right">
  									<button class="btn btn-danger" data-toggle="modal" data-target="#reportModal" data-comment-id="{{ commentLevel2.id }}" data-comment-content="{{ commentLevel2.content }}">Signaler</button>
  									<a class="btn btn-primary" role="button" data-toggle="collapse" href="#{{ commentLevel2.id }}" aria-expanded="true" aria-controls="collapseExample">
  										Répondre
									</a>
									<div class="collapse" id="{{ commentLevel2.id }}">
      									<div class="well">
                            				...
                        				</div>
                    				</div>
  					
  								</div>
						</div>
        			    
        			    {% if comment.children is defined %}
        		            {% for commentLevel3 in commentLevel2.children %}
                		    	<div class="panel panel-default comments-level3">
                		    		<div class="panel-heading">
                						<small>{{ commentLevel3.date|date("d/m/Y") }} à {{ commentLevel3.date|date("H:i") }}</small>
                					</div>
                      				<div class="panel-body">
                        				<p>{{ commentLevel3.content }}</p>
                      				</div>
          								<div class="panel-footer align-right">
          									<button class="btn btn-danger" data-toggle="modal" data-target="#reportModal"  data-comment-id="{{ commentLevel3.id }}" data-comment-content="{{ commentLevel3.content }}">Signaler</button>
          									<a class="btn btn-primary" disabled="disabled" role="button" data-toggle="collapse" href="#{{ commentLevel3.id }}" aria-expanded="true" aria-controls="collapseExample">
          										Répondre
        									</a>
        								<div class="collapse" id="{{ commentLevel3.id }}">
          									<div class="well">
                                ...
                            				</div>
                            			</div>
          					
          								</div>
        						</div>
        		            {% endfor %}
        	            {% endif %}
        		    {% endfor %}
        	    {% endif %}
            {% else %}
        	Pas de commentaire pour le moment, soyez le premier à commenter cet article !!!
            {% endfor %}
        	{# Start Modal#}
        	<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Signaler le commentaire</h4>
                  </div>
                  <div class="modal-body">
                  	<p>L'internaute a dit :</p>
                  	<p id="previewComment" class="control-label"></p>
                        {% if reportingForm %}
                        	{{ form_start(reportingForm) }}
                        		<div class="form-group">
                                    {{ form_widget(reportingForm.commentConcernedId, { 'attr':  {
                                        'rows': '4',
                                        'class': 'form-control',
                                    }}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(reportingForm.reason, { 'attr':  {
                                        'rows': '4',
                                        'class': 'form-control'
                                    }}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(reportingForm.comment, { 'attr':  {
                                        'rows': '4',
                                        'class': 'form-control',
                                        'placeholder': 'Entrer votre remarque'
                                    }}) }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Publish comment" />
                                </div>
                            {{ form_end(reportingForm) }}
                        {% endif %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                  </div>
                </div>
              </div>
			</div>
        	{# End Modal#}
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="col-xs-12">
    				<div class="sub-header header-aside">
                           Catégories
    				</div>
        			<i class="fa fa-caret-down fa-caret-down-black fa-5x"></i>
    			</div>
    			<div class="col-xs-12">
    				<ul class="list-group">
            			{% for category in categories %}
            			<li class="list-group-item list-group-item-aside">{{ category.name }}</li>
            			{% endfor %}
        			</ul>
    			</div>
		</div> 
    </div>
{% endblock %}