{% extends "layout.html.twig" %}

{% block title %}Toutes les catégories{% endblock %}

{% block content %}
	<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
    	<div class="col-xs-12">
           <div class="sub-header header-blue">
                Toutes les catégories
           </div>
           <i class="fa fa-caret-down fa-caret-down-green fa-5x"></i>
        </div>
        <div class="list-group col-xs-12">
        	<div class="col-xs-12">
            {% for category in categories %}
            		<a href="{{ path('category', {'slug': category.slug}) }}" class="list-group-item">
            			<span class="badge">{{ category.nbArticle }}</span>
                        {{ category.name }}
                    </a>
            {% endfor %}
            </div>
    	</div>
        
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="col-xs-12">
    				<div class="sub-header header-aside">
                           Articles
    				</div>
        			<i class="fa fa-caret-down fa-caret-down-black fa-5x"></i>
    			</div>
    			<div class="col-xs-12">
    				<ul class="list-group">
    				{% for article in articles %}
    				{% if article.published == 1 %}
            			<a href="{{ path('article', {'slug': article.slug}) }}" class="list-group-item list-group-item-aside">{{ article.title }}</a>
            		{% endif %}
    				{% endfor %}
        			</ul>
    			</div>
	</div> 
	</div>
	
{% endblock %}