{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	{# Slider #}
	<div class="row">
       <div class="container">
           <div class="col-xs-12">
               <div class="carousel slide">
                <div class="carousel-inner" role="listbox">
                <div class="item active">
                <img class="first-slide" src="./assets/images/components/slide1.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption home-carousel">
                        <h1>Un livre en temps réel</h1>
                        <p>Découvrez en temps réel les extraits de mon dernier livre, les anecdotes de son écriture et plus encore...</p>
                    </div>
                </div>
                </div>   
                </div>
                </div>
           </div>
       </div> 
    </div>
	{# End Slider #}
    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
    	<div class="col-xs-12">
           <div class="sub-header header-blue">
                Les derniers articles
           </div>
           <i class="fa fa-caret-down fa-caret-down-green fa-5x"></i>
        </div>
    {% for article in articles %}
    	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    				<a href="article/{{ article.slug }}">
                    <div class="hovereffect" style="background-image: url({{ article.img }})">
                   
                    <div class="overlay">
                        <h2>{{ article.title }}</h2>
                        <p class="info">{{ article.content|slice(0,100) }}...</p>
                    </div>
                    </div>
                    </a>
    	</div>
    {% endfor %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="col-xs-12">
    				<div class="sub-header header-aside">
                           Catégories
    				</div>
        			<i class="fa fa-caret-down fa-caret-down-black fa-5x"></i>
    			</div>
    			<div class="col-xs-12">
    				<ul class="list-group">
            			{% for category in categories %}
            			<a href="./category/{{ category.slug }}" class="list-group-item list-group-item-aside">{{ category.name }}</a>
            			{% endfor %}
        			</ul>
    			</div>
	</div> 
	</div>
    {{ dump (articles) }}


{% endblock %}