
<!DOCTYPE html>

<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jean Forteroche - {% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ asset('assets/css/blogWriter.css') }}" rel="stylesheet">
        
        


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body> 
        
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container-fluid navbar-fixed-top front-admin-bar">
    	Connecté en tant que : {{ app.user.username }} | 
    	<a href="{{ path('manager') }}" title="Espace d'administration"><i class="fa fa-cog" aria-hidden="true"></i></a>
    	<a href="{{ path('logout') }}" title="Déconnexion"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
    {% endif %}
    <header id="top-nav" class="container">
    <div class="container" id="logo-container">
        <a href="{{ path('home') }}">
        <div class="small-12 columns" id="logo">
            
            <h1>Jean Forteroche</h1>
            <small>Ecrivain Romancier</small>
            
        </div>
        </a>
    </div>
    <div class="menu">
        <!--Header pour navbar et logo -->
        <nav class="navbar navbar-custom" role="navigation">
         
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav">
                <li class="active"><a class="active-link" href="{{ path('home') }}">Home</a></li>
                <li><a class="top-nav-link" href="{{ path('home') }}">A propos</a></li>
                <li><a class="top-nav-link" href="{{ path('all-articles', {'page': '1'}) }}">Articles</a></li>
                <li><a class="top-nav-link" href="{{ path('all-categories')}}">Catégories</a></li>
                <li><a class="top-nav-link" href="{{ path('contact') }}">Contact</a></li>
              </ul>
              <!-- <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form> -->
              <!-- <ul class="nav navbar-nav navbar-right">
                <li><a href="#"></a>Home</li>

              </ul> -->
            </div><!-- /.navbar-collapse -->
         
        </nav>
      </div>
    </header>
    <div id="main" class="container">
       
           
       
        {% block content %}{% endblock %}
        
    </div>
    <footer class="container-fluid">
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <ul class="social-network">
                    <a href="https://www.facebook.com"><li class="fa fa-facebook fa-3x" aria-hidden="true"></li></a>
                    <a href="https://www.twitter.com"><li class="fa fa-twitter fa-3x" aria-hidden="true"></li></a>
                    <a href="https://www.instagram.com"><li class="fa fa-instagram fa-3x" aria-hidden="true"></li></a>
                    <a href="https://www.pinterest.com"><li class="fa fa-pinterest fa-3x" aria-hidden="true"></li></a>
                    <a href="https://www.pinterest.com"><li class="fa fa-envelope fa-3x" aria-hidden="true"></li></a>
                </ul>
                

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <address>
  					<strong>Jean Forteroche</strong><br>
 						12 rue de la Rose<br>
  						12000 Rodez<br>
  						<abbr title="Phone">Tel:</abbr> +33 (0) 5 65 43 54 65
				</address>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at dui placerat, condimentum sem dignissim, 
                vehicula arcu. Fusce vehicula nisi sed purus bibendum, a tempus ipsum tincidunt. Proin nullam. 
            </div>
            
        </div>
        <div class="row copyright">
            ©2017 Jean Forteroche  -  Made By SebUndefined
        </div>
    </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/cf98b17476.js"></script>
        <script src="{{ asset('assets/js/blogWriter.js') }}"></script>
    </body>
</html>
